body {
	background-color: lightyellow;
}


table, th, td {
	margin-right: auto;
	margin-left: auto;
	border: 3px solid brown;
	padding: 12px;

}

th {
	color: brown;
	font-size: 35px;
	height: 75px;
	width: 300px;
}

th.first{
	width: 150px;
	font-size: 25px;
}

th.second{
	font-size: 23px;
	color: coral;
}

th.third{
	font-size: 23px;
	color: indianred;
}

th.fourth{
	font-size: 23px;
	color: yellowgreen;
}

td {
	text-align: center;
	font-weight: bolder;
	color: brown;
}

table {
	width:98%;
	height:90%;
}

i {
	color:brown;
}